b  	body{
	background-color: red;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color: #555555;
}
.product-listing-content ul{
margin: 0 auto 22px;
overflow: hidden;
padding: 0;
}
.product-listing-content li {
    float: left;
    font-size: 13px;
    font-weight: 400;
    list-style: outside none none;
    margin: 0 auto;
    width: 33%;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
li .fa {
    font-size: 15px;
    margin-right: 8px;
}
  </style>
</head>
